<section class="comments">
    {{#each this}}
    <div class="comment-head">
        {{user.username}} on {{format_date created_at}}
    </div>
    <div class="comment-text">
        {{text}}
    </div>
    {{/each}}
</section>