{{#each this}}
  <div class="comment-item">
    <div class="comment-item-text">
      {{text}}
    </div>
    <div class="comment-item-meta">
        <span class="username">{{user.username}}</span> ({{format_date created_at}})
    </div>
  </div>
{{/each}}