{{#each this}}
  <div class="comment-item">
    <div class="comment-item-text">
      <p>{{text}}</p>
    </div>
    <div class="comment-item-meta">
        <span class="username">{{user.username}}</span> ({{format_date created_at}})
    </div>
    <div class="comment-item-btn-wrapper">
      <button id="delete-comment-btn" class="comment-btn">Delete</button>
    </div>
  </div>
{{/each}}