<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dev Dash</title>
    <link
      rel="stylesheet"
      href="../../public/css/style.css"
    />
  </head>

  <body>
    <header class="header-container">
      <div class="header-title">
        <h1>Dev Dash</h1>
        <p>tech, code, computer science blog</p>
      </div>
      <div class="header-nav">
        <p class="header-username">Welcome, <span class="username">username</span></p>
        <nav class="nav-bar">
          <a href="/" class="nav-link">Home</a>
          <a href="/dashboard" class="nav-link">Dashboard</a>
          <button id="logout" class="nav-btn">Logout</button>
          <a href="/login" class="nav-link">Login</a>
          <a href="/signup" class="nav-link">Sign Up</a>
        </nav>
      </div>
    </header>

      <main class="main-container">
        <section class="post-list">
                    <!-- single post -->
          <div class="post-item">
              <div class="post-item-head">
                  <a href="/post/{{post.id}}" class="post-title">POST NAME</a>
                  <span class="post-meta">Posted by <span class="username">username</span> on 4/17/22</span>
              </div>
              <div class="post-item-body">
                <span class="post-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus blanditiis autem quaerat natus? Eos maiores distinctio cum, autem ipsum odio numquam alias neque quibusdam eius excepturi, quos vel recusandae voluptatibus.
                </span>
                <div class="post-comment-badge">
                  Comments: <span class="data">3</span>
                </div>
              </div>
          </div>
                    <!-- single post -->
          <div class="post-item">
              <div class="post-item-head">
                  <a href="/post/{{post.id}}" class="post-title">POST NAME</a>
                  <span class="post-meta">Posted by <span class="username">username</span> on 4/17/22</span>
              </div>
              <div class="post-item-body">
                <span class="post-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus blanditiis autem quaerat natus? Eos maiores distinctio cum, autem ipsum odio numquam alias neque quibusdam eius excepturi, quos vel recusandae voluptatibus.
                </span>
                <div class="post-comment-badge">
                  Comments: <span class="data">3</span>
                </div>
              </div>
          </div>
                    <!-- single post -->
          <div class="post-item">
              <div class="post-item-head">
                  <a href="/post/{{post.id}}" class="post-title">POST NAME</a>
                  <span class="post-meta">Posted by <span class="username">username</span> on 4/17/22</span>
              </div>
              <div class="post-item-body">
                <span class="post-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus blanditiis autem quaerat natus? Eos maiores distinctio cum, autem ipsum odio numquam alias neque quibusdam eius excepturi, quos vel recusandae voluptatibus.
                </span>
                <div class="post-comment-badge">
                  Comments: <span class="data">3</span>
                </div>
              </div>
          </div>
                    <!-- single post -->
          <div class="post-item">
              <div class="post-item-head">
                  <a href="/post/{{post.id}}" class="post-title">POST NAME</a>
                  <span class="post-meta">Posted by <span class="username">username</span> on 4/17/22</span>
              </div>
              <div class="post-item-body">
                <span class="post-text">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus blanditiis autem quaerat natus? Eos maiores distinctio cum, autem ipsum odio numquam alias neque quibusdam eius excepturi, quos vel recusandae voluptatibus.
                </span>
                <div class="post-comment-badge">
                  Comments: <span class="data">3</span>
                </div>
              </div>
          </div>
      </section>
      </main>

      <footer>
        <p>
          Thanks for visiting!
        </p>
      </footer>
  </body>
</html>
