<section class="create-post-container">
    <form id="new-post" class="create-post-form">
        <div>
            <input id="new-post-title" type="text" class="create-post-title" placeholder="Give your post a Title">
        </div>
        <div>
            <textarea id="new-post-text" class="create-post-text" type="text" placeholder="What would you like to write about?"></textarea>
        </div>
        <div class="submit-btn-wrapper">
            <button id="create-post-btn" class="btn form-btn">Create Post</button>
        </div>
    </form>
</section>

<script src="/js/create.js"></script>