<form id="new-post" class="new-post">
    <div>
        <label for="new-post-title">Title</label>
        <input id="new-post-title" type="text">
    </div>
    <div>
        <textarea id="new-post-text" class="new-post-text" type="text" placeholder="What would you like to write about?"></textarea>
    </div>
    <button id="create-post-btn" class="btn">Submit</button>
</form>

<script src="/js/create.js"></script>