<section class="create-post-container">
    <form id="new-post" class="create-post-form">
        <div>
            <input id="post-title" type="text" class="create-post-title">
        </div>
        <div>
            <textarea id="post-text" class="create-post-text" type="text"></textarea>
        </div>
        <div class="submit-btn-wrapper">
            <button id="save-post-btn" class="btn form-btn">Save Changes</button>
        </div>
    </form>
</section>

<script src="/js/save.js"></script>