<section class="form-container">
    <div class="form-card">
    <form id="login-form">
        {{!-- email --}}
        <div class="form-input">
            <input name="login-email" id="login-email" type="text" placeholder="Please enter your email" class="form-input">
        </div>
        {{!-- password --}}
        <div class="form-input">
            <input name="login-password" id="login-password" type="password" placeholder="Please enter your password" class="form-input">
        </div>
        {{!-- submit button --}}
        <button id="login-btn" type="submit" class="form-btn">Login</button>
    </form>
    </div>
</section>

<script src="/js/login.js"></script>