<section class="form-container">
    <div class="form-card">
    <form id="signup-form">
        {{!-- email --}}
        <div class="form-input">
            <input name="signup-email" id="signup-email" type="text" placeholder="Email">
        </div>
        {{!-- username --}}
        <div class="form-input">
            <input name="signup-username" id="signup-username" type="text" placeholder="Username">
        </div>
        {{!-- password --}}
        <div class="form-input">
            <input name="signup-password" id="signup-password" type="password" placeholder="Password">
        </div>
        {{!-- submit button --}}
        <button id="signup-btn" type="submit" class="form-btn">Sign Up</button>
    </form>
    </div>
</section>

<script src="/js/signup.js"></script>