/* GLOBAL SETTINGS */
:root {
    --primary: rgb(55, 221, 55);
    --secondary: cyan;
    --third: blue;
    --bg-dark: rgb(33, 33, 33);
    --bg-light: rgb(251, 245, 240);
    --btn: rgb(165, 229, 255);
    --warning: rgb(255, 195, 84);
    --danger: rgb(255, 59, 59);
}

* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-light);
}

a {
    color: var(--secondary);
    font-size: 21px;
    font-weight: bold;
}

a:hover {
    transition: 0.5s all ease;
    color: white;
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
}

a:visited {
    color: var(--secondary);
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: var(--secondary);
    padding: 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

button:hover {
    transition: 0.3s all ease;
    color: var(--bg-light);
    text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.7);
}

.username{
    color: var(--primary);
    font-style: normal;
}

.data {
    color: var(--secondary);
}

.btn {
    background-color: var(--bg-dark);
    color: var(--bg-light);
    padding: 5px 12px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px var(--btn);
    font-size: 17px;
    width: 170px;
}

.btn:hover {
    transition: 0.3s all ease;
    color: var(--bg-dark);
    background-color: var(--secondary);
}

.warning:hover {
    transition: 0.3s all ease;
    color: var(--bg-dark);
    background-color: var(--warning);
}

.danger:hover {
    transition: 0.3s all ease;
    color: var(--bg-dark);
    background-color: var(--danger);
}

/* ============ */
/* MAIN LAYOUT */
/* Header */
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 20%;
    width: 100%;
    margin-bottom: 5px;
    box-shadow: 0 0 5px var(--bg-dark);
}

.header-title {
    flex: 0 0 55%;
    background-image: linear-gradient(to right, var(--secondary), var(--bg-dark));
}

.header-title h1 {
    font-size: 4em;
    font-style: italic;
    padding-left: 2%;
    text-shadow: -2px -2px 1px white;
}

.header-title p {
    font-size: 2em;
    padding-left: 6%;
    padding-bottom: 3px;
    text-shadow: 0 0 2px white;
}

.header-nav {
    background-color: var(--bg-dark);
    color: var(--secondary);
    flex: 0 1 45%;
}

.header-username {
    text-align: center;
    padding-top: 28px;
    font-size: 26px;
    font-style: italic;
}

.nav-bar {
    text-align: center;
    padding-top: 29px;
}

.nav-link {
    padding: 0 8px;
}

.nav-btn {
    padding: 0 8px;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    background-color: var(--bg-dark);
    color: var(--secondary);
    width: 100%;
}

footer p {
    padding-left: 45vw;
    padding-bottom: 10px;
    padding-top: 10px;
}

/* ============ */
/* HOMEPAGE/DASHBOARD */
/* Posts List */
.post-list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
}

/* Post Item */
.post-item {
    background-color: white;
    border-radius: 10px 0 10px 0;
    box-shadow: 1px 1px 2px black;
    margin: 8px;
    width: 65vw;
}

.post-item-head {
    background-color: var(--bg-dark);
    border-radius: 10px 0 0 0;
    color: var(--secondary);
    padding: 3px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.post-item-title {
    font-size: 19px;
    padding-left: 7px;
}

.post-item-meta {
    font-size: 14px;
    padding-right: 7px;
}

.post-item-body {
    padding: 3px 0 0 10px;
}

.post-item-text {
    padding: 0 5px 0 40px;
}

.post-comment-badge {
    background-color: var(--bg-dark);
    color: white;
    padding: 3px 5px 2px 5px;
    margin: 5px 0 0 5px;
    width: max-content;
    border-radius: 10px 0 10px 0;
    display: block;
    position: relative;
    float: right;
}

.create-btn-wrapper {
    margin: 12px 0;
}

/* ============ */
/* SINGLE-POST */
.single-post {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Post */
.post-container {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-light);
    width: 75vw;
}

.post-buttons {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    width: 25vw;
}

.post {
    border-radius: 15px 15px 0 0;
    box-shadow: 1px 1px 3px black;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
}

.post-head {
    background-color: var(--bg-dark);
    color: var(--secondary);
    border-radius: 11px 11px 0 0;
}

.post-title {
    font-size: 33px;
    text-align: center;
    padding-top: 8px;
}

.post-meta {
    text-align: right;
    padding: 0 6px 3px 0;
}

.post-body {
    background-color: white;
    padding: 10px;
}

.post-text {
    padding-left: 45px; 
    font-size: 19px;
    line-height: 1.5;
}

/* Comments */
.comments {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 65vw;
    margin-top: 10px;
}

.comment-list {
    width: 30vw;
}

.comment-item {
    background-color: var(--bg-dark);
    border-radius: 10px;
    padding: 4px 10px;
    margin: 3px 0;
}

.comment-item-text {
    color: var(--bg-light);
    padding-bottom: 8px;
}

.comment-item-meta {
    color: var(--secondary);
    text-align: right;
}

.add-comment-container {
    width: 30vw;
}

.add-comment-text {
    width: 28vw;
    height: 12vh;
    border-radius: 10px;
    padding: 4px 10px;
    font-size: 19px;
}

/* ============ */
/* LOGIN/SIGNUP */

.form-container {
    display: flex;
    justify-content: center;
}

.form-card {
    width: 40vw;
    background-color: var(--bg-dark);
    border-radius: 15px;
    padding: 20px 25px;
    margin-top: 25px;
}

.form-input {
    width: 100%;
    height: 40px;
    font-size: 19px;
    margin-bottom: 20px;
}

.submit-btn-wrapper {
    text-align: center;
}

.form-btn {
    background-color: var(--bg-light);
    color: var(--bg-dark);
}

/* ============ */
/* CREATE POST */
.create-post-container {
    display: flex;
    justify-content: center;
}

.create-post-form {
    width: 60vw;
    background-color: var(--bg-dark);
    padding: 5px 4px 10px 4px;
    margin-top: 25px;
}

.create-post-title {
    width: 100%;
    height: 40px;
    font-size: 20px;
    margin-bottom: 5px;
}

.create-post-text {
    width: 100%;
    height: 25vh;
    font-size: 18px;
    margin-bottom: 7px;
}