/* GLOBAL settings */
:root {
    --primary: green;
}

* {
    margin: 0;
    text-decoration: none;
}

/**____MAIN____**/
/* __HEADER section__ */
/* container */
.header-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

/* title portion */
.header-title {
    flex: 0 0 50%;
}

.header-title h1 {
    font-size: 4em;
}

.header-title p {
    font-size: 2em;
}
/* user-nav portion */
.header-user-nav {
    flex: 0 1 50%;
    text-align: center;
}

.header-username {
    text-align: right;
    margin-bottom: 15px;
    padding-right: 10%;
    font-size: 22px;
}

.username{
    color: var(--primary);
}

.nav-bar {
    text-align: right;
    padding-right: 10%;
}

.nav-link {
    padding: 0 8px;
    font-size: 20px;
}

.nav-btn {
    padding: 0 8px;
    font-size: 15px;
}

/***____HOMEPAGE____***/
/* __POSTS LIST section__ */
.posts-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    height: 75%;
}

.post-item {
    height: 100px;
    margin-top: 10px;
}

/***____LOGIN/SIGNUP____***/
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-top: 10%;
    padding: 2em 3em;
}

.form-input {
    margin: 1em;
    height: 3em;
    width: 30vw;
}

.form-input input {
    font-size: 20px;
    height: 2em;
    width: 100%;
}

.form-btn {
    margin: 1.5em;
    height: 3em;
    width: 12vw;
    font-size: 22px;
}

/***____SINGLE-POST____***/
.post-full {
    margin-top: 50px;
    text-align: center;
}

.post-full-card {
    width: 70vw;
    border: 1px solid black;
}

/***____CREATE POST____***/
.new-post-text {
    height: 20vw;
    width: 30vw;
}